.content-container {
  max-width: 500px;
  margin: 0px auto;
}

.header {
  background-color: #282c34;
  text-align: center;
  color: white;
  padding: 12px;
}

.header > h1 {
  margin: 0;
  font-size: 20px;
  vertical-align: middle;
}

.add-feed-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.add-feed-container > input {
  margin: 16px;
  padding: 8px;
}

.add-feed-container > div {
  text-align: center;
}

.add-feed-container > div > button {
  margin: 16px;
  padding: 8px;
  width: 100px;
  color: #fff;
  background: #4caf50;
  border: none;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0 16px;
}
